.survivalImage{
    /* width: 70%;
    left: 27%; */
    /* margin-left: 20%; */
    margin-top: 5%;
    /* height: 70vh; */
}


#inputs{
    width: 65%;
    left: 17%;

}

#selects{
    width: 65%;
    margin-left: 17%;
    padding-bottom: 1%;
}