.t-head{
    background-color: black;
    color: white;
}
.table{
    /* width: 100px; */
    /* height: 100px; */
    /* border-collapse: none; */
    /* text-align: left; */
    margin-top: 3%;
    vertical-align: middle;
    /* font-size: 1em; */
}

/* #thDiv{
    position: absolute;
    top: 64%;
} */

/* #tdDiv{
    position: absolute;
    right: 52.5%;
} */