.ticks line{
  stroke: #C0C0BB;
  
}
.ticks text{
  fill: #C0C0BB;
  text-anchor: middle;
  font-size: 1em;
}
.axisLine{
  stroke: #C0C0BB;
}
.axis-label{
  font-size: 1.2em;
  fill: #8e8883;
}

body{
  height: 100%;
}