.ticks line{
  stroke: black;
  
}
.ticks text{
  fill: black;
  text-anchor: middle;
  font-size: 1em;
}
.axisLine{
  stroke: black;
}
.axis-label{
  font-size: 1.2em;
  fill: black;
}

body{
  height: 100%;
  background-color: white;
}

#inputback{
  box-shadow: 1px 1px 12px 1px rgb(0 0 0 / 25%);
  background-color: rgba(249,244,244)
  /* #f9f4f4  */
}
#outback{
  box-shadow: 1px 1px 12px 1px rgb(0 0 0 / 25%);
  background-color: rgba(249,252,246)
}
#stratback{
  box-shadow: 1px 1px 12px 1px rgb(0 0 0 / 25%);
  background-color: rgba(253,249,245, 0.5) 
}