.ticks line{
  stroke: black;
  
}
.ticks text{
  fill: black;
  text-anchor: middle;
  font-size: 1em;
}
.axisLine{
  stroke: black;
}
.axis-label{
  font-size: 1.2em;
  fill: black;
}

body{
  height: 100%;
  background-color: red; /* For browsers that do not support gradients */
  background: linear-gradient(to left top, green, white) fixed;
  /* background-image: linear-gradient(white,green);
  background-size:cover; */
  
}